.qrs-options {border: 1px solid #B52C00;padding: 0 10px 10px 10px;margin: 10px 10px 0 0;float: left;width: 46%;background:#FFF;}
.qrs-options input[type=text], #qrs-options textarea, #qrs-options select, #qrs-options #submit {margin: 2px 0 2px 0;padding: 2px;color: #465069;font-size: 100%;border:1px solid #415063;width: 100%;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
.qrs-options p {margin: 4px 0;padding: 0;}
.qrs-options h2 {color: #005F6B;}
.qrs-options td{vertical-align:top;}